/* Contenedor */
#contenedor{
    display: flex;
}
/* Menu */
#menu{
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}
#menu>button{
    padding: 16px 22px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
}
#menu>button:hover{
    background-color: #ddd;
}
.activo{
    background-color: #ccc;
}
/* Panel */
.panel{
    padding: 0 12px;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
    text-align: center;
}
.activa{
    display: block;
}